[Unit]
Description=Portainer Container
After=local-fs.target 
Wants=network-online.target 
After=network-online.target

[Container]
Image=docker.io/portainer/portainer-ce:alpine-sts
ContainerName=portainer
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=9443:9443
PublishPort=9000:9000
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
Volume=portainer.volume:/data
Volume=/:/host
PodmanArgs=--privileged

[Service]
Restart=on-success

[Install]
WantedBy=default.target
