[Container]
Image=docker.io/portainer/portainer-ce:2.23.0
ContainerName=portainer
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=9443:9443
PublishPort=9000:9000
Volume=/run/podman/podman.sock:/var/run/docker.sock:Z
Volume=portainer_data:/data
PodmanArgs=--privileged

[Service]
Restart=on-success

[Install]
WantedBy=default.target

[Volume]
VolumeName=portainer-data
